@model Suncrest.ShippingCalculator.Models.CalculationResults

<div>
    <h1>Shipping Cost</h1>
    <hr />
    <p>@Html.DisplayFor(model => model.Cost)@Html.DisplayFor(model => model.ErrorMessage)</p>

</div>

