@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Shipping Calculator calculates the cost to ship a package. Enter the destination zip code and the weight of the package. </p>
